body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  height: 500px;
  width: 500px;
}

.square {
  outline: solid grey 2px;
}

.target-current {
  background-color: gray;
}

.snake-current {
  background-color: black;
}