body {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 100px 0px;
  font-family: 'Cedarville Cursive', cursive;
}

.entry-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 200px;
  width: 500px;
}

h1 {
  margin: 100px 0px 0px 0px
}
h3 {
  margin-bottom: 30px;
}

p {
  margin: 0px
}

a, a:visited, a:active {
  text-decoration: none;
  color: inherit
}

a:hover {
  color: gray
}

button {
  background-color: lightgray;
  font-family: 'Cedarville Cursive', cursive;
  border: none;
  border-radius: 3px;
  margin-left: 10px;
}

.dark-button, .current {
  background-color: gray;
}

.speed1, .speed2, .speed3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  margin: 0px;
}

.container-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(15, 1fr);

  grid-column: 1 / 2;
  grid-row: 1 / 2;
  z-index: 1;

  height: 375px;
  width: 500px;
}

.panel {
  display: flex;
  justify-content: space-between;

  margin: 20px 0px
}

.left-panel {
  display: flex;
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}

.checker {
  background-color: lightgray;
}

.target-current {
  background-color: cornflowerblue;
  border-radius: 50%;
  height: 80%;
  width: 80%;
}

.snake-current {
  background-color: black;
  border-radius: 0px;
  outline: 0px;
}


.game-over, .countdown {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  z-index: 1;
  
  font-size: 30px;
}

.countdown {
  font-size: 60px;
}

.transparent {
  opacity: .5;
}